/* hero start  */

.hero {
  padding-top: 56px;
  background-color: #014e56;
  color: #ffffff;
  padding-bottom: 250px;
  background-image: url("../images/hero-left.png"), url("../images/hero-rb.svg");
  background-position: left -100px top 50px, right 165px bottom -100px;
  background-repeat: no-repeat;
}
.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-divider {
  margin-bottom: 79px;
}

.hero-title {
   font-size: 100px;
  line-height: 100px;
  width: 535px;
}
.hero2 {
   display:flex;
  text-align: center;
  justify-content: center;
  padding-top: 140px;
  color: #ffffff;
  background-color: #012f34;
  padding-bottom: 250px;
  margin-left: auto;
  margin-top: auto;
  padding-left: auto;
  padding-top: auto;
}

.hero-title2 {
  color: #ffffff;
   font-size: 50px;
  line-height: 48px;
  width: 445px;
  height: 14px;
}

.hero-description {
  width: 100%;
  max-width: 445px;
}

.hero-description-text {
  width: 100%;
  min-width: 445px;
  font-size: 18px;
  line-height: 28px;
}
/* hero end */
